.heading{
    font-size: 23px;
    margin: 0px;
    width: 100%;
}
.note{
    font-size: 20px;
    color: black;
}
body{
    background-size: cover
}
.div_speed_img{
    width: 190px;
    border-radius: 100px;
    background-position: center;
    background-size: contain;
}
#speed{
    font-size: 23px;
    margin: 15px;
}
#vol{
    font-size: 23px;
    margin: 15px;
}